numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
tensorflow-addons
plotly
pot
networkx
gudhi>=3.9.0 # Tuto-GUDHI-cover-complex.ipynb requires sklearn interfaces
torch
tqdm
eagerpy
tqdm
xgboost
