name: Test notebooks

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install LaTeX support for matplotlib
      run: |
        sudo apt-get install ghostscript dvipng inkscape texlive-full
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r .binder/requirements.txt
        pip install jupyter
    - name: Execute notebooks
      run: |
        for f in *.ipynb; do echo "Processing $f file.."; time jupyter nbconvert --to notebook  --ExecutePreprocessor.timeout=600 --inplace --execute $f;done;
